<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="no.elg.infiniteBootleg.logging" status="error">

  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout
        disableAnsi="false"
        pattern="%style{%d}{bright_black} %30file:%-4line %highlight{%-5level [%t]%notEmpty{ %marker} %msg{ansi}}{FATAL=red, ERROR=bright_red, WARN=bright_yellow bold, INFO=white, DEBUG=bright_black bold, TRACE=bright_black}%n"
      />
    </Console>

    <InGameConsole name="InGameConsole"/>

    <RollingRandomAccessFile name="RollingRandomAccessFile"
                             filePattern="logs/$${date:yyyy-MM-dd}/log-%d{yyyy-MM-dd-HH-mm}_%i.log.zip"
    >
      <PatternLayout>
        <Pattern>%d pid=%pid %5level %c %-5level [%t] %msg%n</Pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="250 MB"/>
        <OnStartupTriggeringPolicy/>
      </Policies>
      <DirectWriteRolloverStrategy/>
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}" maxDepth="2">
          <IfFileName glob="*/app-*.log.zip"/>
          <IfLastModified age="P7D"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingRandomAccessFile>
  </Appenders>

  <Loggers>
    <Logger name="io.netty" level="info"/>
    <Root level="trace">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="RollingRandomAccessFile"/>
      <AppenderRef ref="InGameConsole"/>
    </Root>
  </Loggers>
</Configuration>
